[submodule "nextjs_startup"]
	path = nextjs_startup
	url = https://github.com/anonymze/nextjs_startup.git
[submodule "astro_startup"]
	path = astro_startup
	url = https://github.com/anonymze/astro_startup.git
[submodule "symfony_open_api_docker"]
	path = symfony_open_api_docker
	url = https://github.com/anonymze/symfony_open_api_docker.git
[submodule "bun_startup"]
	path = bun_startup
	url = https://github.com/anonymze/bun_startup.git
